.env
.idea/*
/.tools/
/node_modules
/public/hot
/public/storage
/public/build/
/storage/*.key
/storage/framework/views/*.php
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
test-results